:root{
    --font-fam: 'Montserrat', 'Roboto', 'Ubuntu', 'Titillium Web';
}

body{
    background-image: url(bg-image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1cm;
}

.header h1{
    position: relative;
    left: 1.4cm;
    font-family: 'Teko', 'Open Sans';
    letter-spacing: 1px;
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 1.3cm;
    position: relative;
    right: 3cm;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Teko', 'Open Sans';
    font-size: clamp(0.3rem, calc(0.6vw + 1.7vh), 3rem);
    letter-spacing: 1.2px;
}