:root{
    --font-fam: 'Montserrat', 'Roboto', 'Ubuntu', 'Titillium Web';
}

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1cm;
}

.header h1{
    position: relative;
    left: 1.4cm;
    font-family: 'Teko', 'Open Sans';
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 1.3cm;
    position: relative;
    right: 3cm;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Teko', 'Open Sans';
    font-size: clamp(0.3rem, calc(0.6vw + 2vh), 4rem);
}