:root{
    --font-fam: 'Montserrat', 'Roboto', 'Ubuntu', 'Titillium Web';
}

body{
    background-image: url(bg_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1cm;
}

.header h1{
    position: relative;
    left: 1.4cm;
    font-family: 'Teko', 'Open Sans';
    letter-spacing: 1px;
    font-size: clamp(10px, 2rem, 3rem);
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 1.3cm;
    position: relative;
    right: 3cm;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Teko', 'Open Sans';
    font-size: clamp(0.3rem, calc(0.6vw + 1.7vh), 3rem);
    letter-spacing: 1.2px;
}

.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2cm; 
}

.booking-content{
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.booking-content tr{
    font-size: clamp(10px, 1.1rem, 4rem);
    font-family: 'Kanit', 'Ubuntu', 'Titillium Web';
    gap: 2cm;
}

.booking-content .line{
    border-right: 1px solid black;
    height: 1.4cm;   
}

th{
    width: 5cm;
    letter-spacing: 2px;
}

#size{
    font-size: 13px;
    font-family: 'Kanit', 'Ubuntu', 'Titillium Web';
    font-weight: bold;
    padding-left: 2px;
}

.booking-btn{
    height: 1.3cm;
    width: 4.7cm;
    cursor: pointer;
    border-radius: 7px;
    background-color: #ca6dfc;
    border: none;
    transition: 0.5s;
    font-family: 'Kanit', 'Ubuntu', 'Titillium Web';
    font-weight: bold;
    font-size: clamp(10px, 1rem, 4rem);
}

.booking-btn:hover{
    background-color: #b637fa;
}



